/* MyBase styles */
body {
    background-color: #f0f0f0; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 40px;
}

.footer {
    background-color: #003366; 
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.form-inline .form-control {
    border-radius: 5px;
}

.btn-outline-light {
    border-radius: 5px;
}

.btn-link {
    color: white;
}

.btn-link:hover {
    color: #dcdcdc;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card-title {
    color: #007bff;
}

.card-text {
    color: #555;
}

.navbar .nav-item {
    margin-right: 20px;
}



/* My Trip Page Styles */
.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #003366; 
    color: white;
}

.card-body {
    padding: 20px 30px; 
}

.form-group label {
    font-weight: bold;
    margin-top: 10px; 
}

.form-control {
    border-radius: 10px; 
}

.btn-primary {
    background-color: #003366;
    border-color: #003366;
    font-size: 1.2rem; 
    padding: 10px 20px; 
    border-radius: 10px; 
}

.btn-primary:hover {
    background-color: #002244;
    border-color: #002244;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
