/* home.css */

.title {
    font-size: 2.5rem;
    color: #003366;
    font-weight: bold;
    margin-bottom: 20px;
}

.trip-idea-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trip-idea-box img {
    border-radius: 10px;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.trip-idea-box h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
}

.trip-idea-box p {
    color: #555555;
    font-size: 1rem;
    margin-bottom: 10px;
    flex-grow: 1;
}

.trip-idea-box .btn {
    background-color: #003366;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.trip-idea-box .btn:hover {
    background-color: #0056b3;
}
