{% extends 'base.html' %}

{% block title %}Create Trip{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0"><i class="fas fa-plane-departure"></i> Create Trip</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.destination.label_tag }}
                    {{ form.destination }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.travel_date.label_tag }}
                        {{ form.travel_date }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.return_date.label_tag }}
                        {{ form.return_date }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.num_people.label_tag }}
                    {{ form.num_people }}
                </div>
                <div class="form-group">
                    {{ form.departure_airport.label_tag }}
                    {{ form.departure_airport }}
                </div>
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-save"></i> Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

