{% extends 'base.html' %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Delete Profile</h2>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete your profile?</p>
            <button type="button" class="btn btn-danger btn-block" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            <a href="{% url 'profile_list' %}" class="btn btn-secondary btn-block">Cancel</a>
        </div>
    </div>
</div>

{% endblock %}