html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 40px;
}

.footer {
    background-color: #007bff; 
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.form-inline .form-control {
    border-radius: 5px;
}

.btn-outline-light {
    border-radius: 5px;
}

.btn-link {
    color: white;
}

.btn-link:hover {
    color: #dcdcdc;
}

.logout-button {
    margin: 0;
    padding: 0.5rem 1rem;
    height: 100%;
    line-height: 1.5;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card-title {
    color: #007bff;
}

.card-text {
    color: #555;
}

.home-page {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.home-page .container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.home-page .card {
    background-color: rgba(173, 216, 230, 0.5); 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.home-page .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.home-page .card-text {
    margin-bottom: 15px;
    color: #555;
}

.home-page .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
}

